<header>
  <div class="menu-button"><img src="assets/images/menu-button.png" width="30"></div>
</header>
<div id="wrapper">
  <section class="users left">
    <div class="search input-group">
      <input type="text" class="form-control" placeholder="Type to search"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-4 col-xs-4">
            <img src="assets/images/user.png" class="img-responsive" width="50" alt="User profile pic"/>
          </div>
          <div class="col-md-8 col-xs-8">
            <div class="user-name">Hemant</div>
            <div class="last-followed">02/01/17, 11:40 AM</div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <section class="messages right">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="left-message">Hey there? how are you?</div>
      </li>
      <li class="list-group-item">
        <div class="right-message">I am good, how are you?</div>
      </li>
    </ul>
    <div class="send-message input-group">
      <input type="text" class="form-control" placeholder="Type to send"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </section>
</div>
<footer>
</footer>
